<div class="col-md-3">
  <%= link_to game_path(game.title) do %>
    <div class="thumbnail tn-custom">
      <%= image_tag game.screenshots_url(:thumb).to_s %>
    </div>
    <div class="caption">
      <h3><%= game.title %></h3>
      <h5>By <%= game.user.username %></h5>
    </div>
  <% end %>
</div>