<div class="container">
<h1>
  All Games
  <% if current_user %>
    <%= link_to new_game_path do %>
      <button class="btn btn-primary">New Game</button>
    <% end %>
  <% end %>
</h1>
  <% @jams.each do |jam| %>
    <div class="row">
      <h2><%= link_to "GiTD \##{jam.title}", jam_path(jam.id) %></h2>
      <div class="row">
        <% @games.each do |game| %>
          <% if game.jam == jam %>
            <%= render game %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
