<div class="container">
<h1>
  All Games
  <% if current_user %>
    <%= link_to new_game_path do %>
      <button class="btn btn-primary">New Game</button>
    <% end %>
  <% end %>
</h1>
  <% @jams.each do |jam| %>
    <div class="row">
      <%= link_to jam_path(jam.id) do %>
        <h2><button class="btn btn-lg btn-custom">GiTD #<%= jam.title %></button></h2>
      <% end %>
      <div class="row">
        <% @games.each do |game| %>
          <% if game.jam == jam %>
            <%= render game %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
