<div id='forums_container'>
  <h1 id='forums_title'><%= t('.title') %>
    <% if forem_admin? %>
      <%= link_to forem.admin_root_path do %>
        <button class="btn btn-custom">Admin Area</button>
      <% end %>
    <% end %>
  </h1>

  <%= render @categories %>
</div>

<br>
