<h1>Previous Jams
<% if current_user.try(:admin?) || current_user.try(:moderator?) %>
  <%= link_to new_jam_path do %>
    <button class="btn btn-primary">New Jam</button>
  <% end %>
<% end %></h1>
<div class="container">
  <div class="row">
    <%= render @jams %>
  </div>
</div>
