body {
  position: relative;
  background: rgba(153,0, 0, 0.8);// url(image_path("concrete_seamless.png"));
  color: #ddd;
}

body::after {
  background: url(image_path("concrete_seamless.png"));
  opacity: 0.5;
  position: absolute;
  z-index: -1;
}

.hp-jumb {
  background-image: url(image_path("gitd_logo.png"));
  background-size: cover;
  height: 400px;
}

.jt-custom {
  background-color: transparent;
}

.caption {
  text-align: center;
}

.col-md-4, .col-md-3 {
  a {
    text-decoration: none;
    color: #ddd;
  }
  .tn-custom {
    background-color: transparent;
    border: none;
    height: 250px;
  }
  .tn-jam {
    border: 1px solid white;
  }
}

h1 {
  a:hover {
    text-decoration: none;
    background-color: transparent;
  }
}

// Simple-form extra stylings //

.hint {
  color: #ddd;
}

.has-error {
  background-color: #da3535;
  .help-block {
    color: #ddd;
  }
}

.btn-custom {
  background-color: #4a0000;
  border-color: #4a0000;
  color: #ddd
}

.btn-custom:hover {
  background-color: #750000;
  border-color: #750000;
  color: #eee;
}

// Navbar stylings //

$bgDefault      : #660000;
$bgHighlight    : #990000;
$colDefault     : #dddddd;
$colHighlight   : #dddddd;
$dropDown       : true;
.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus { 
      color: $colHighlight; 
    }
  }
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; 
        }
      }
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li > a {
            color: $colDefault;
            &:hover,  &:focus {
              color: $colHighlight;
              background-color: $bgHighlight; 
            }
          }
          .divider {
            background-color: $bgHighlight;
          }
        }
      }
    }
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; 
      }
    }
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; 
      }
    }
  }
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; 
    }
    .icon-bar {
      background-color: $colDefault; 
    }
  }
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; 
  }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; 
    }
  }
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; 
      }
    }
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; 
      }
    }
  }
}